*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font:14px "microsoft yahei";
	color:#666;
}
.modal-mask{
	display:flex;
	/*水平对齐*/
	justify-content: center;
	/*垂直对齐*/
	align-items: center;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
}
.modal-content{
	background:#fff;
	width:400px;
	border-radius: 10px;
}
.modal-header{
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	text-align: center;
}
.modal-body{
	padding:10px;
	min-height:140px;
}

.modal-footer{
	display:flex;
	border-top:1px solid #ddd;
	line-height: 40px;
	
}
.modal-footer button{
	flex: 1;
    line-height: 40px;
    border: 0;
    background: #fff;
    color: dodgerblue;
    font-size: 16px;
    font-weight: bold;
}
.modal-footer button:nth-of-type(1){
	border-right:1px solid #ddd;
	border-radius:0 0 0 10px;
}
.modal-footer button:hover{
	background:dodgerblue;
	color:#fff;
}
.modal-footer button:nth-of-type(2){
	border-right:1px solid #ddd;
	border-radius:0 0 10px 0;
}

